aiofiles - 24.1.0
beautifulsoup4 - 4.13.4
chromadb - 1.0.4
Crawl4AI[all] - 0.6.2
crawl4ai-setup
docling - 2.31.0
faiss-cpu - 1.10.0
Flask - 3.1.0
langchain - 0.3.23
langchain-community - 0.3.21
langchain-core - 0.3.51
langchain-huggingface - 0.1.2
langdetect - 1.0.9
nest-asyncio - 1.6.0
ninja - 1.11.1.4
numpy - 2.2.4
openai - 1.72.0
pandas - 2.2.3
pip - 25.1.1
PyMuPDF - 1.25.5
sentence-transformers - 4.0.2
transformers - 4.51.1
